<script>
  export let location = 'Baltimore';
  export let scaling = 'all';

  const cities = ['Baltimore', 'Chicago', 'Los Angeles'];
  const scales = ['all', 'within'];
  const scale_desc = ['Across all building types', 'Within building types']
</script>

<form class='rb'>
  <strong class='title'>Location:</strong>
  <!-- <br/> -->
  {#each cities as c}
    <input type="radio" bind:group={location} id={c} name='cities_list' value={c}>
    <label for={c}>{c}</label>
  {/each}
</form>

<form class='rb'>
  <strong class='title'>Scaling method:</strong>
  <!-- <br/> -->
  {#each scales as s, i}
    <input type="radio" bind:group={scaling} id={s} name='scaling_list' value={s}>
    <label for={s}>{scale_desc[i]}</label>
  {/each} 
</form>

<style>
  .rb strong::after {
    content:'\00a0\00a0';
  } 
  .rb label::after {
    content:'\00a0\00a0\00a0\00a0';
  } 
</style>