<script>
  export let scale='month';
  const scales = ['month', 'week', 'day'];
</script>


<form class='rb'>
  <strong class='title'>Aggregated by:</strong>
  {#each scales as s}
    <input type="radio" bind:group={scale} id={s} name='scaling_list' value={s}>
    <label for={s}>{s}</label>
  {/each} 
</form>

<style>
  .rb strong::after {
    content:'\00a0\00a0';
  } 
  .rb label::after {
    content:'\00a0\00a0\00a0\00a0';
  } 
</style>