<script>
  import { scaleLinear, scalePoint } from "d3-scale";
  import { axisBottom } from "d3-axis";
  import { select } from 'd3-selection'; 

  export let data;

  // Size and margins
  const width = 800;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const axis_label = ["7", "6", "5", "4", "3", "2", "1", "0", "1 ", "2 ", "3 ", "4 ", "5 ", "6 ", "7 "];
  const degree = 30;

  // Scales
  const y_scale = scaleLinear().domain([0, 4]).range([innerHeight-130, 100]);  // control the position of nodes
  const l_scale = scaleLinear().domain([0, 168]).range([0, 250]); //control the length of the branch
  const h_scale = scaleLinear().domain([0, 5000]).range([0, 70]); //convert energy to the height of leaves
  const d_scale = scalePoint().domain(axis_label).range([-Math.cos(degree/180*Math.PI)*250, Math.cos(degree/180*Math.PI)*250]);
  function x_axis(x) {axisBottom(d_scale)(select(x))};

  $: leave_path = (l, type, direction) => {
    let e_path = "M 0, 0" ;
    if (type == 'ele'){
      l.forEach((d, i) => {
        e_path += " " + (-1)**direction * l_scale(i)  + ", " + (-1)*h_scale(d);
      })
      e_path += " " + (-1)**direction * l_scale(l.length)  + ", 0 0, 0" ;
    } else {
      l.forEach((d, i) => {
        e_path += " " + (-1)**direction * l_scale(i)  + ", " + h_scale(d);
      })
      e_path += " " + (-1)**direction * l_scale(l.length)  + ", 0 0, 0" ;
    } 
    return e_path;
  }

</script>


<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">

    <line x1={innerWidth/2} y1={innerHeight - 60} x2={innerWidth/2} y2="60" stroke="black" opacity="0.6"/>
    <text x={innerWidth/4} y={innerHeight - 140} text-anchor='start' font-size="15" opacity="0.8" font-style='italic'>Electricity</text>
    <text x={innerWidth/4} y={innerHeight - 110} text-anchor='start' font-size="15" opacity="0.8" font-style='italic'>Gas</text>
    <circle cx={innerWidth/4 - 15} cy={innerHeight - 145} r="5" fill='royalblue' stroke='royalblue' fill-opacity="0.8" stroke-width="1.2"/>
    <circle cx={innerWidth/4 - 15} cy={innerHeight - 115} r="5" fill='orange' stroke='orange' fill-opacity="0.8" stroke-width="1.2" /> 
    
    {#each Object.keys(data) as c, i}
      <g transform="translate({innerWidth/2}, {y_scale(i)}) rotate({(-1)**i*(-degree)})">
        <text x={(-1)**(i+1)*28} y="0" text-anchor='middle' opacity="0.6" transform="rotate({(-1)**i*degree})" style="font-size:12px">week {c}</text> 
        <line x1="0" y1="0" x2={(-1)**i*l_scale(data[c].ele.length)} y2="0" opacity="0.6" stroke="black" />

        <path d = {leave_path(data[c].ele, 'ele', i)} fill='royalblue' stroke='royalblue' fill-opacity="0.8" stroke-width="1.2" />
        <path d = {leave_path(data[c].gas, 'gas', i)} fill='orange' stroke='orange' fill-opacity="0.8" stroke-width="1.2" />
      </g>
    {/each}
    
    <g transform="translate({innerWidth/2}, {innerHeight - 60})" use:x_axis={'svg'} />
    <text x="610" y={innerHeight - 70} text-anchor="end" font-style='italic' font-size="12">Weekday</text>

    <g transform="translate({innerWidth/2}, {y_scale(0)}) rotate({-degree})">
      <line x1={l_scale(168)} y1="0" x2={l_scale(168)} y2={h_scale(5000)} opacity="0.4" stroke="black" />
      <line x1={l_scale(168)-3} y1={h_scale(5000)} x2={l_scale(168)+3} y2={h_scale(5000)} opacity="0.4" stroke="black" />
      <text x={l_scale(168)} y={h_scale(5000)+10} text-anchor="middle" font-size="9" opacity="0.4">5000</text>
    </g>

  </g>
</svg>


