<script>
  import { scaleLinear } from "d3-scale";
  import { axisBottom } from "d3-axis";
  import { select } from 'd3-selection'; 

  export let selected_data;
  export let scaling;
  export let max_all;
  export let max_within; 
  let n_types = 16;

  // Size and margins
  const width = 800;
  const height = 500;
  const margin = { top: 15, right: 10, bottom: 15, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const miniHeight = innerHeight / 45;

  // Scales
  const y_scale = scaleLinear().domain([0, n_types]).range([0, innerHeight-20]);
  const x_scale = scaleLinear().domain([0, 744]).range([150, innerWidth-20]);
  const d_scale = scaleLinear().domain([0, 31]).range([150, innerWidth-20]);
  function x_axis(x) {axisBottom(d_scale)(select(x))};

  function upper_scale(x, i, s) {
    if (s == 'all') {
      let scale = scaleLinear().domain([0, max_all]).range([0, -1*miniHeight]);
      return scale(x);}
    else {
      let scale = scaleLinear().domain([0, max_within[i]]).range([0, -1*miniHeight]);
      return scale(x);}
  }

  function below_scale(x, i, s) {
    if (s == 'all') {
      let scale = scaleLinear().domain([0, max_all]).range([0, miniHeight]);
      return scale(x);}
    else {
      let scale = scaleLinear().domain([0, max_within[i]]).range([0, miniHeight]);
      return scale(x);}
  }

  $: upper_path = (l, i, s) => {
    let u_path = "M 150, 0" ;
    l.forEach((j, k) => {
      u_path += " " + x_scale(k) + ", " + upper_scale(j, i, s);
      // u_path += " " + x_scale(k) + ", 0" ;
    })
    u_path += " " + x_scale(l.length) + ", 0 150, 0" ;
    return u_path;
  }

  $: below_path = (l, i, s) => {
    let b_path = "M 150, 0";
    l.forEach((j, k) => {
      b_path += " " + x_scale(k) + ", " + below_scale(j, i, s);
      // b_path += " " + x_scale(k) + ", 0" ;
    })
    b_path += " " + x_scale(l.length) + ", 0 150, 0" ;
    return b_path;
  }
</script>


<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    {#each Object.keys(selected_data) as sd, i}
      <g transform="translate(0, {y_scale(i) + 12})">
        <text x="140" y="2" text-anchor="end" font-size="12">{sd}</text>
        <path d = {upper_path(selected_data[sd], i, scaling)} fill='black' stroke='black' stroke-width = "0.65" />
        <path d = {below_path(selected_data[sd], i, scaling)} fill='black' stroke='black' stroke-width = "0.65" /> 
      </g>
    {/each}
    <g transform="translate(0, {y_scale(n_types)+7})" use:x_axis={'svg'} />
    <text x="140" y={y_scale(n_types)+22} text-anchor="end" font-style='italic' font-size="10">Date of Dec</text>
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
