<script>
  import { scaleLinear, scaleLog } from "d3-scale";

  export let data;
  export let scale;
  export let cities;
  export let max_energy;
  const scale_value = {'month':12, 'week':53, 'day':365}

  // Size and margins
  const width = 800;
  const height = 350;
  const margin = { top: 15, right: 10, bottom: 15, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  $: max_use =  Math.ceil( max_energy/10**(Math.trunc(Math.log10(max_energy))- 1) ) * 10**(Math.trunc(Math.log10(max_energy)-1));


  // Scales
  $: r_scale = scaleLinear().domain([0, max_use]).range([0, 100]);  // from energy consumption to radius
  $: s_scale = scaleLinear().domain([0, scale_value[scale]]).range([0, 2*Math.PI]); //from month/week/day to angle
  const x_scale = scaleLinear().domain([-0.5, 2.5]).range([0, innerWidth]);
  const c_scale = scaleLog().domain([12, 365]).range([1.5, 0.05]); //size of the circle for each point

  $: energy_path = (l, type) => {
    let e_path = "M " ;
    let first = l[0];
    l.forEach((d) => {
      e_path += " " + r_scale(d[type])*Math.sin(s_scale(d.target))  + ", " + -1* r_scale(d[type])* Math.cos(s_scale(d.target));
    })
    e_path += " " + r_scale(first[type])*Math.sin(s_scale(first.target))  + ", " + -1* r_scale(first[type])* Math.cos(s_scale(first.target));
    return e_path;
  }

</script>


<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <text x={innerWidth-150} y="5" text-anchor='middle' font-size="15" opacity="0.8" font-style='italic'>Heating</text>
    <text x={innerWidth-50} y="5" text-anchor='middle' font-size="15" opacity="0.8" font-style='italic'>Cooling</text>
    <circle cx={innerWidth-190} cy="0" r="5" fill='salmon' fill-opacity="0.4" stroke='salmon' stroke-width="0.65"/>
    <circle cx={innerWidth-90} cy="0" r="5" fill='steelblue' fill-opacity="0.4" stroke='steelblue' stroke-width="0.65"/> 
    
    {#each cities as c, i}

      <g transform="translate({x_scale(i)}, {innerHeight/2.3})">
        <circle cx="0" cy="0" r="100" stroke='black' opacity="0.6" fill-opacity="0"/> 
        <circle cx="0" cy="0" r="50" stroke='black' opacity="0.2" fill-opacity="0"/> 
        <text x="0" y="112" text-anchor='middle'font-size="8" transform="rotate(-45)" opacity="0.6">{Math.round(max_use)}</text>
        <text x="0" y="61" text-anchor='middle'font-size="8" transform="rotate(-45)" opacity="0.6">{Math.round(max_use/2)}</text>

        <path d = {energy_path(data.filter((d) => d.city == c), 'ht')} fill='salmon' fill-opacity="0.3" stroke='salmon' stroke-width="0.65"/>
        <path d = {energy_path(data.filter((d) => d.city == c), 'cl')} fill='steelblue' fill-opacity="0.3" stroke='steelblue' stroke-width="0.65"/>
        
        {#each data.filter((d) => d.city == c) as p}
          <circle cx={r_scale(p.ht)*Math.sin(s_scale(p.target))}  cy={-1* r_scale(p.ht)* Math.cos(s_scale(p.target))} r={c_scale(scale_value[scale])} stroke='salmon' opacity="1" fill='salmon'/>
          <circle cx={r_scale(p.cl)*Math.sin(s_scale(p.target))}  cy={-1* r_scale(p.cl)* Math.cos(s_scale(p.target))} r={c_scale(scale_value[scale])} stroke='steelblue' opacity="1" fill='steelblue'/>
        {/each}

        <text x="0" y="145" text-anchor='middle' >{c}</text>
        <text x="0" y="-105" text-anchor='middle'font-size="13" opacity="0.6">{scale_value[scale]}(0)</text>
        <text x="0" y="115" text-anchor='middle' font-size="13" opacity="0.6">{Math.round(scale_value[scale]/2)}</text>
        <text x="105" y="5" text-anchor='start' font-size="13" opacity="0.6">{Math.round(scale_value[scale]/4)}</text>
        <text x="-105" y="5" text-anchor='end' font-size="13" opacity="0.6">{Math.round(scale_value[scale]/4*3)}</text>

        <line x1="100" y1="0" x2="-100" y2="0" stroke="black" opacity="0.2" />
        <line x1="0" y1="100" x2="0" y2="-100" stroke="black" opacity="0.2" />
      </g>

    {/each}
  </g>
</svg>


