<script>
  import { onMount } from "svelte";
  import { max } from "d3-array";
  import Control from "./_design_1_control.svelte";
  import Plot from "./_design_1_plot.svelte"

  let location = 'Baltimore';
  let scaling = 'all';

  // Load the data
  let data = []
  onMount(async () => {
    const res = await fetch('/data/hourly_heating_december.json');
    data = await res.json();
    });
  // $: console.log(data)

  let transformed_data = {}
  $:{
    transformed_data = {};

    data.forEach((d) => {
      if (d.city == location) {
        if ( !(d.buildingtype in transformed_data)) {
          transformed_data[d.buildingtype] = []
        }
        transformed_data[d.buildingtype].push(d.total_heating_energy)
      } 
    })
  }

  let max_within;
  let max_all;
  $: max_within = Object.values(transformed_data).map((e) => max(e))
  $: max_all = max(max_within)

</script>

{#if !transformed_data}
  <text>Loading data...</text>
{:else}
  <div>
    <br/>
    <h4>Energy Use Over December</h4>
    <Control bind:location={location} bind:scaling={scaling}/>
    <br/>
    <Plot bind:selected_data={transformed_data} max_all={max_all} bind:max_within={max_within} 
     bind:scaling={scaling}/>
  </div>
{/if}