<script>
  import { onMount } from "svelte";
  import Control from "./_design_2_control.svelte";
  import Plot from "./_design_2_plot.svelte"

  let scale = "month";
  let cities = ['Baltimore', 'Chicago', 'Los Angeles'];

  // Load the data
  let data = null;
  let fdata = [];
  let result = [];
  let max_energy = null;

  onMount(async () => {
    const res = await fetch('/data/daily_heating_cooling.json');
    data = await res.json();
    });

  $: {
    result = [];
      if (data) {
        cities.forEach((c) => {
          fdata = data.filter((d) => d.city == c)
          let ffdata = [];
          if (scale == 'month') {
            ffdata = fdata.map(({month: target, ...rest}) => ({target, ...rest}));
          } else if (scale == 'week') {
            ffdata = fdata.map(({week: target, ...rest}) => ({target, ...rest}));
          } else {
            ffdata = fdata.map(({day_of_year: target, ...rest}) => ({target, ...rest}));
          }
          
        ffdata.reduce(function(res, value) {
          if (!res[value.target]) {
            res[value.target] = { city: value.city, target: value.target, ht: 0 , cl: 0};
            result.push(res[value.target])
          }
          res[value.target].cl += value.cooling;
          res[value.target].ht += value.heating;
          return res;
          }, {});
        })
      } 
  }

  $: max_energy = Math.max(...result.map(d => Math.max(d.ht, d.cl)));
  
</script>



{#if !data}
  <text>Loading data...</text>
{:else}
  <div>
    <br/>
    <h4>Energy Used for Heating and Cooling</h4>
    <Control bind:scale={scale} />
    <br/>
    <Plot bind:data={result} bind:scale={scale} bind:cities={cities} bind:max_energy={max_energy}/>
  </div>
{/if}

