<script>
  import { onMount } from "svelte";
  import Plot from "./_design_3_plot.svelte"


  // Load the data
  let data = []
  onMount(async () => {
    const res = await fetch('/data/hourly_electricity_vs_gas_december.json');
    data = await res.json();
    });
  // $: console.log(data)
  
  let transformed_data = {};
  $:{
    transformed_data = {};
    data.forEach((d) => {
      if ( !(d.week in transformed_data)) {
        transformed_data[d.week] = {}
      }
      if ( !('ele' in transformed_data[d.week])) {
        transformed_data[d.week]['ele'] = []
      }
      if ( !('gas' in transformed_data[d.week])) {
        transformed_data[d.week]['gas'] = []
      }
      transformed_data[d.week]['ele'].push(d.total_electrity)
      transformed_data[d.week]['gas'].push(d.total_gas)
    })
  }

</script>


{#if !transformed_data}
  <text>Loading data...</text>
{:else}
  <div>
    <br/>
    <h4>Hourly Electricity vs Gas Use in Chicago</h4>
    <Plot bind:data={transformed_data} />
  </div>
{/if}