<script>
    const student = {name: 'Kun Chen', fav_things:['Sunshine on lawn', 'Kimchi fried rice']};
</script>

<p>
    My name is {student.name} and these are some of my favourite things: {student['fav_things']}.
</p>