<script>
    function ccf(r) {
        return 2 * Math.PI * r;
    };
    const rad = 1;
    const result = Math.round(ccf(rad) *100) /100
</script>

<p>The circumference of a circle with radius {rad}m is {result}m .</p>