<script>
  // Properties
  export let data = [];
  const continents = ["europe", "asia", "americas", "africa"];

  let stop = true;
  export let year = 1800;
  export let cont = 'all';
  let anim;

	const toStop = () => {stop = true; clearInterval(anim)}   
  const toStart = () => {stop = false; anim = setInterval(func, 50)}      
	const toReset = () => {year = 1800; toStop()}
  
	const func = () => {if(year < 2014){year = year + 1};
									 if(year >= 2014){year = 1800}}
  
</script>

<div class="row">
  <!--  -->
  <div class="col-lg">
    {#if !stop}
      <button type="button" class="btn btn-primary" on:click={toStop}>Stop</button>
    {:else}
      <button type="button" class="btn btn-primary" on:click={toStart}>Start</button>
    {/if}
    <button type="button" class="btn btn-primary" on:click={toReset}>Reset</button>
  </div>
  <div class="col-lg">
    <label class="label">Year: {year}
      <input type="range" min="1800" max="2014" bind:value={year} />
    </label>
  </div>
  <div class="col-lg">
    <select class="form-select" bind:value={cont}>
      <option value="all">all</option>
      {#each continents as c}
      <option value={c}>{c}</option>
      {/each}
    </select>
  </div>
</div>
