<script>
	let count = 0;

	function timesClick(event) {
		count += 1;
	}
	function ifReset(event) {
		count = 0;
	}
</script>


<button type="button" class="btn btn-primary" on:click={timesClick}>
	Clicked {count} time(s)
</button>
<button type="button" class="btn btn-danger" on:click={ifReset}>
	Reset
</button>
