<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  let plotData = null;
  export let year = 1800;
  export let cont = 'all';
  $: index = year - 1800

  onMount(async () => {
    data = await json("/data/gapminder.json");
    plotData = data[0]['countries'];
  });

  // Select the data
  const toSelect = (i, c) => {
    if (data) {
      if (c === 'all') { plotData = data[index]['countries'] }
      else { plotData = data[i]['countries'].filter(d => d.continent===c) }
    }
  }

  $: toSelect(index, cont)
</script>


{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={plotData} />
    <Controls bind:year={year} bind:cont={cont} />
  </div>
{/if}
