<script>
    import { scaleLog, scaleLinear, scaleOrdinal } from 'd3-scale';
	import { axisBottom, axisLeft } from "d3-axis";
	import {select} from 'd3-selection';
    import { extent } from 'd3-array';
	import { schemeTableau10 } from 'd3-scale-chromatic';


    // Dimensions
    const [height, width] = [400, 600];
    const margin = { top: 50, right: 5, bottom: 55, left: 50 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;

    export let data;
    export let p_year;
    var x_scale = scaleLog().domain([300,100000]).range([0, innerWidth]);
	var y_scale = scaleLinear().domain([0,90]).range([innerHeight, 0]);
    var col = scaleOrdinal(schemeTableau10).domain(extent(data.map(function(d){ return d.continent; })));
    var radius = scaleLog().base(10).domain([1,5e8]).range([4,6]);
    var ticks = [400,4000,40000]
    var tickLabels = ["$400", "$4000", "$40000"]	
    function x_axis(x) {axisBottom(x_scale).tickValues(ticks).tickFormat((d,i) => tickLabels[i])(select(x))};
	function y_axis(x) {axisLeft(y_scale)(select(x))};
</script>
  
<svg viewBox="0 0 {width} {height}" style="max-width: {width}px"> 
    <g transform="translate({margin.left}, {margin.top})">
      {#each data as d}
        {#if (d.income != null) & (d.population != null) & (d.life_exp != null)}
            <circle cx={x_scale(+d.income)} cy={y_scale(+d.life_exp)} r={radius(+d.population)} fill={col(d.continent)} fill-opacity=0.7/>
        {/if}
      {/each}
      <g use:y_axis={"svg"}></g>
      <g transform="translate(0,{y_scale(0)})" use:x_axis={"svg"} />
      <text x={-innerHeight/2} y=-30 text-anchor="middle" font-size=15 transform="rotate(-90)">Life Expectancy</text>
      <text x={innerWidth/2} y={innerHeight+35} text-anchor="middle" font-size=15>GDP per Capita</text>
      <text x={innerWidth/2} y=0 text-anchor="middle" font-size=35>Gapminder Scatterplot</text>
      <text x={innerWidth-80} y={innerHeight-10} text-anchor="left" font-size=35 opacity=0.4>{p_year}</text>
    </g>
</svg>
  