<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];

  // Scale
  import { scaleLog } from 'd3-scale';
  var scale = scaleLog().domain([1, 10]).range([0, innerWidth]);

  // Axis
  import { axisBottom } from 'd3-axis'; 
	import { select } from 'd3-selection'; 
  function x_axis(x) {axisBottom(scale)(select(x))};
</script>


<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as v}
      <circle cx={scale(v)} cy={innerHeight/3} r="10" />
    {/each}
		<g transform="translate(0,65)" use:x_axis={'svg'} />
		<text x={innerWidth/2} y="90" text-anchor="middle" font-size="10">x-axis</text>
  </g>
</svg>


<style>
  circle {
    fill: steelblue;
  }
	text {
    fill: currentcolor;
  }
</style>
