<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  // New
  import { scaleLinear, scaleOrdinal } from 'd3-scale';
	import { extent } from 'd3-array';
	import { schemeDark2 } from 'd3-scale-chromatic';
	var x_axis = scaleLinear().domain([0, 10]).range([0, innerWidth]);
	var y_axis = scaleLinear().domain([0, 3]).range([innerHeight, 0]);
	var col = scaleOrdinal(schemeDark2).domain(extent(["cat1", "cat2", "cat3"]));
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <line x1="0" y1={innerHeight} x2={innerWidth} y2={innerHeight} stroke="black" />
    {#each values as v}
			<circle cx={x_axis(v.x)} cy={y_axis(v.y)} r="5" fill={col(v.category)}/>
			<text x={x_axis(v.x)} y={y_axis(v.y)-10} class="valueLabel">{v.y}</text>
      <line x1={x_axis(v.x)} y1={y_axis(v.y)+5}  x2={x_axis(v.x)} y2={innerHeight} stroke="black" />
		{/each}
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
