<script>
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  import { scaleLinear, scaleBand } from 'd3-scale';
	import { axisBottom, axisLeft } from "d3-axis";
	import {select} from 'd3-selection';

	var y_scale = scaleLinear().domain([0,3]).range([innerHeight, 0]);
	var b_scale = scaleBand().domain(["Netflix","Amazon Prime Video","Disney+","Hulu","Apple TV","Rakuten"]).range([0, innerWidth]).padding([0.2])
	function x_axis(x) {axisBottom(b_scale)(select(x))};
	function y_axis(x) {axisLeft(y_scale)(select(x))}
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    {#each data as d}
			<rect x={b_scale(d.service)} y={y_scale(d.viewers)} width={b_scale.bandwidth()} height={y_scale(0)-y_scale(d.viewers)} fill="steelblue"/>
		{/each}
		<g transform="translate(0,{y_scale(0)})" use:x_axis={"svg"}></g>
		<g use:y_axis={"svg"}></g>
		<text x={-innerHeight/2} y=-30 text-anchor="middle" font-size=10 transform="rotate(-90)">Viewers (Million)</text>
  </g>
</svg>
