<script>
  import { onMount } from "svelte";
  import A from './_ex_7_scatterplot.svelte';
 
  let plot_year = 1800;
  let dataset = null;
  let loaded = false;
  onMount(async () => {
    const af = await fetch('/data/gapminder.json');
    dataset = await af.json();
    loaded = true;
  });  
</script>

{#if loaded}
  <A data={dataset[plot_year - dataset[0].year].countries} p_year={plot_year}/> 
{:else}
  <p>The data is being loaded...</p>
{/if}
